<h4>Salut, invatacel! <i class="fa fa-smile-o"></i></h4>
<i>
  Inainte de a incepe exercitiul este nevoie sa descarci capitolul, sa il parcurgi si nu in ultimul rand sa il intelegi.<br>
  Pasi pentru a ajunge in posesia capitolului in format electronic sunt urmatorii:
</i>
<ol>
    <li><i> Selectati din meniu sectiunea <strong>,,Descarcati capitol''</strong>.</i></li>
    <li><i> In partea stanga a paginii ai posibilitatea de a selecta o carte(<strong>,,Selectati o carte''</strong>), specificata de doamna invatatoare.</i></li>
    <li><i> Dupa selectie trebuie sa apesi butonul <strong>,,Descarca''</strong> din dreptul capitolui.</i></li>
    <li><i> Doamna invatatoare a atasat cateva fisiere suplimentare, in sectiunea <strong>,,Atasamente''</strong> pentru o intelegere cat mai buna a textului.</i></li>
  </ol>

