<div class="content-box">
  <h3 style="text-align:center"><i>Aplicatia 4</i></h3>
  <hr>
  <div class="row" *ngIf="noSelectedBook">
      <app-no-book-selected></app-no-book-selected>
  </div>
  <div class="row" *ngIf="!noSelectedBook">
    <div class="col-4">
      <div class="form-group">
        <label for="file"><strong>Incarca o imagine sugestiva:</strong></label><br>
        <input type="file"
               id="file"
               (change)="handleFileInput($event)">
      </div>
      <button class='btn btn-primary' (click)="savePhoto()">Salveaza fotografia</button>
    </div>
    <div class="col-8">
      <h5><i>
          <span class="fa fa-question-circle" ></span>
          {{question.text}}
        </i></h5>
        <small>*Puteti salva de pe internet imaginea si apoi sa o incarcati.</small>
       <div class="row">
         <div class="col-4">
           <img  class="photo" src="./././assets/images/camera3.jpg" alt="Profesor"/>
         </div>
       </div>
  </div>
  </div>
</div>
<simple-notifications></simple-notifications>