<div class="content-box">
    <h3 style="text-align:center"><i>Aplicatia 6</i></h3>
    <hr>
    <div class="row" *ngIf="noSelectedBook">
        <app-no-book-selected></app-no-book-selected>
    </div>
    <div class="row" *ngIf="!noSelectedBook">
      <div class="col-4">
          <img class="photo" src="./././assets/images/hand1.png" alt="Profesor"/>
      </div>
      <div class="col-6">
        <h5><i>
          <span class="fa fa-question-circle" ></span>
          {{question.text}}
        </i></h5>
        <div class="row">
            <div class="col-10">
                <textarea [(ngModel)]="sumary" cols="90" rows="20"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-primary" (click)="createSumary()">Salveaza</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <simple-notifications></simple-notifications>