<div class="content-box">
    <h3 style="text-align:center"><i>Aplicatia 7</i></h3>
    <hr>
    <div class="row">
      <div class="col-4">
          <img height="60%" src="./././assets/images/hand1.png" alt="Profesor"/>
      </div>
      <div class="col-6">
        <h5><i>
          <span class="fa fa-question-circle" ></span>
          {{question.text}}
        </i></h5>
        <div class="row">
            <div class="col-10">
                <textarea [(ngModel)]="cvintet" cols="90" rows="20"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-primary">Salveaza</button>
            </div>
        </div>
      </div>
    </div>
  </div>