<div class="content-box">
    <h3 style="text-align:center"><i>Aplicatia 6</i></h3>
    <hr>
    <div class="row" *ngIf="noSelectedBook">
        <app-no-book-selected></app-no-book-selected>
    </div> 
    <div class="row" *ngIf="!noSelectedBook">
         <div id="container">
             <div id="no1" class="row">
                <div class="col-10">
                    <small><b>Cerinta 1:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-2">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
            <div id="line4"></div>
            <div id="line5"></div>
            <div id="line6"></div>
            <div id="line6Sec"></div>
            <div id="no2" >
                <div class="row">
                    <div class="col-9">
                     <small><b>Cerinta 2:</b></small><br>
                     <small><i>Continut</i></small>
                    </div>
                <div class="col-1">
                  <small><i class="fa fa-plus"></i></small>
                  <small><i class="fa fa-pencil"></i></small>
                </div>
                </div>
            </div>
            <div id="no3">
                <div class="row">
                    <div class="col-9">
                        <small><b>Cerinta 3:</b></small><br>
                        <small><i>Continut</i></small>
                    </div>
                    <div class="col-1">
                        <small><i class="fa fa-plus"></i></small>
                        <small><i class="fa fa-pencil"></i></small>
                    </div>
                </div>  
            </div>
            <div id="no4">
                <div class="row">
                    <div class="col-9">
                        <small><b>Cerinta 4:</b></small><br>
                        <small><i>Continut</i></small>
                    </div>
                    <div class="col-1">
                        <small><i class="fa fa-plus"></i></small>
                        <small><i class="fa fa-pencil"></i></small>
                    </div>
                </div>  
            </div>
        <div id="no5">
            <div class="row">
                <div class="col-9">
                    <small><b>Cerinta 5:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-1">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
        </div>
        <div id="no5Sec">
            <div class="row">
                <div class="col-9">
                    <small><b>Cerinta 5:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-1">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
        </div>
        <div id="line7"></div>
        <div id="line8"></div>
        <div class="clear"></div>
        <div id="no6">
            <div class="row">
                <div class="col-9">
                    <small><b>Cerinta 6:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-1">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
        </div>
        <div id="line9"></div>
        <div id="line10"></div>
        <div id="no7">
            <div class="row">
                <div class="col-9">
                    <small><b>Cerinta 7:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-1">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
        </div>
        <div id="line11"></div>
        <div id="line12"></div>
        <div class="clear"></div>
        <div id="line13"></div>
        <div id="line14"></div>
        <div class="clear"></div>
        <div id="no8">
            <div class="row">
                <div class="col-9">
                    <small><b>Cerinta 8:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-1">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
        </div>
        <div id="line15"></div>
        <div id="line16"></div>
        <div id="no9">
            <div class="row">
                <div class="col-9">
                    <small><b>Cerinta 9:</b></small><br>
                    <small><i>Continut</i></small>
                </div>
                <div class="col-1">
                    <small><i class="fa fa-plus"></i></small>
                    <small><i class="fa fa-pencil"></i></small>
                </div>
            </div>
        </div>
        <div id="line17"></div>
        <div id="line18"></div>
        <div class="clear"></div>
      
   
  </div>


 
</div>

