<div class="modal-header">
    <h4 class="modal-title">Stergere cuvant</h4>
    <button type="button" class="close" aria-label="Close"
           (click)="activeModal.dismiss('Cross click')">
           x
    </button>
  </div>
  <div class="modal-body">
    Sunteti sigur ca doriti sa stergeti acest cuvant din dictionar?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="deleteWord()"> Da</button>
    <button class="btn btn-secondary" (click)="activeModal.dismiss('Close clicked')">
      Nu
    </button>
  </div>