<div class="content-box">
  <h3 style="text-align:center"><i>Salut, copil cuminte si istet!</i> <i class="fa fa-smile-o"></i></h3>
  <hr>
  <div class="row">
    <div class="col-9">
        <p> Aceasta platforma a fost creata special pentru tine.<i></i> <i class="fa fa-birthday-cake"></i> Doamna invatatoare te considera foarte important, tocmai de aceea s-a gandit sa puna aici exercitii de-a dreptul captivante. <i class="fa fa-bullhorn"></i></p>
        <p> Fiecare capitol citit o sa te ajute sa-ti imbogatesti vocabularul si cunostintele<i class="fa fa-sun-o"></i><i class="fa fa-flag"></i>, iar tu pas cu pas o sa poti deveni omul mare si super-eroul pe care ti-l doresti!<i class="fa fa-child"></i><i class="fa fa-female"></i></p>
        <p> Stim ca-ti place mult sa te joci<i class="fa fa-heart"></i><i class="fa fa-truck"></i><i class="fa fa-cube"></i><i class="fa fa-fighter-jet "></i>, asa ca cel mai bine ar fi sa transformam treaba serioasa intr-o joaca.<i class="fa fa-bicycle"></i>Tu ce parere ai?!<i class="fa fa-scissors"></i></p>
        <p> Speram ca exercitiile si temele acasa sa devina mult mai placute acum.<i class="fa fa-star"></i></p>
        <p> <strong>Trrrrrrrrrrr! Suna clopotelul! <i class="fa fa-bell"></i></strong> Mult succes la scoala si nu uita ca voi, toti copiii, sunteti minunati! <i class="fa fa-paint-brush"></i> <i class="fa fa fa-graduation-cap"></i></p>
    </div>
    <div class="col-2 ml-3">
        <img height="50%" class="rounded-image" src="./././assets/images/pupils.png" alt="Copii"/>
    </div>
   
  </div>
  </div>
