<div class="menu menu-student">
  <ul>
    <li><a class="active" [routerLink]="['/dashboard-student']"><strong>
      <i class="fa fa-user fa-yellow"></i>
      Informatii elev</strong></a></li>
    <li><a [routerLink]="['/download']"><strong>Descarcare capitol</strong></a></li>
    <li><a [routerLink]="['/quotes']"><strong>Aplicatia 1</strong></a></li>
    <li><a [routerLink]="['/graph']"><strong>Aplicatia 2</strong></a></li>
    <li><a [routerLink]="['/vocabulary']"><strong>Aplicatia 3</strong></a></li>
    <li><a [routerLink]="['/image']"><strong>Aplicatia 4</strong></a></li>
    <li><a [routerLink]="['/lyrics']"><strong>Aplicatia 5</strong></a></li>
    <li><a [routerLink]="['/sumary']"><strong>Aplicatia 6</strong></a></li>
    <!-- <li><a [routerLink]="['/map']"><strong>Aplicatia 7</strong></a></li> -->
    <li class="float-right"><a (click)="logout()"><strong>Logout</strong></a></li>
  </ul>
</div>
