.fa-yellow {
    color: yellow;
}

.float-right {
    float: right
}

menu {
    font-size: 28px;
    margin-top: 0px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ACFD4; /*#ED9E5E;/*#F88E46;*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #F0D29C; /* #E3BF67;/*#F8D1B0;*/
    text-decoration: none;
    color: white;
    font-style: italic;
  }
  
  .active {
    background-color: #FFAFAF;/*#29998B;/*#F86400;*/
    font-style: italic;
    color: yellow;
  }