<div class="content-box">
    <h3 style="text-align:center"><i>Despre profesor</i></h3>
    <hr>
  <div class="row">
    <div class="col-3">
        <img class="rounded-image" src="./././assets/images/teacher1.jpg" alt="Profesor"/>
    </div>
    <div class="col-8">
        <h3>Acu Rodica-Voichita</h3>
        <p>Profesor invatamant primar</p>
        <p><strong>Cugetare personala:</strong></p> <i>Cu fiecare zi ce trece, prin munca pe care o depun incerc sa construiesc imaginea profesorului ideal dupa care tanjeam chiar eu sa-l am, inca din copilarie.</i>
        <br><br>
        <p>Inca de la o varsta frageda am stiut care o sa fie vocatia mea, tocmai de aceea am ales sa studiez la Colegiul National ,,George Cosbuc'' din Nasaud, profilul pedagogic, axandu-ma riguros pe specializarea ,,invatatori-educatoare''.
           Odata cu finalizarea liceului mi-am indreptat pasii spre cursurile Universitatii Babes-Bolyai, alegand Facultatea de Psihologie si Stiintele Educatie, considerand ca cel mai potrivit domeniu ar fi in continuare cel al pedagogiei invatamantului primar si prescolar.
           Pe parcursul vietii, omul are datoria de a invata si acumula cunostinte necontenit. Asa ca, in ciuda faptului ca munceam in paralel, deja de cativa ani, am decis sa-mi sedimentez si mai mult cunostintele asa ca am continuat studiile, urmand cursurile de masterat din cadrul acelelasi facultati.
           De aceasta data, programul selectat fiind cel de ,,Consiliere scolara si asistenta psihopedagogica''.
        </p>
        <br>
        <p>Fiecare evolutie profesionala de-a mea, reprezinta implicit, un progres pentru cei carora ma adresez. Sunt convinsa si constienta de faptul ca elevii mei merita sa aiba un viitor frumos, tocmai de aceea o sa ma dedic pe tot parcursul carierei mele de construirea si modelarea unor viitori adulti de succes.</p>
    </div>
  </div>

 
</div>
