.text1{
    color: green;
    border-right: 4px solid green;
}

.text2{
    color: rgb(190, 190, 19);
    border-right: 4px solid rgb(190, 190, 19);
}

.text3{
    color: grey;
    border-right: 4px solid grey;
}

.text4{
    color: red;
    border-right: 4px solid red;
}

.text5{
    color: peru;
    border-right: 4px solid peru;
}

.text6{
    color: purple;
    border-right: 4px solid purple;
}

.text7{
    color: yellowgreen;
    border-right: 4px solid yellowgreen;
}

.text8{
    color: brown;
    border-right: 4px solid brown;
}

.text9{
    color: blue;
    border-right: 4px solid blue;
}

.text10{
    color: orangered;
    border-right: 4px solid orangered;
}
