<div class="content-box">
    <h3 style="text-align:center"><i>Aplicatia 5</i></h3>
    <hr>
    <div class="row" *ngIf="noSelectedBook">
        <app-no-book-selected></app-no-book-selected>
    </div>
    <div class="row" *ngIf="!noSelectedBook">
      <div class="col-5">
          <img class="photo" src="./././assets/images/hand.gif" alt="Profesor"/>
      </div>
      <div class="col-6">
        <h5><i>
          <span class="fa fa-question-circle" ></span>
          {{question.text}}
        </i></h5>
        <div class="row">
            <div class="col-10">
                <textarea [(ngModel)]="cvintet" cols="70" rows="8"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <button class="btn btn-primary" (click)="createCvintet()">Salveaza</button>
            </div>
            <div class="col-2">
              <button class="btn btn-secondary" title="{{info}}"><i class="fa fa-question-circle"></i></button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <simple-notifications></simple-notifications>